@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}

.content{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    border: 1px solid #828282;
    margin: 67px 100px;
    border-radius: 15px;
}
.img img{
    width: 100%;
    height: 100% ;
}

li{
    list-style: none;
    line-height: 2;
}
.content .text{    
    padding: 30px;
    letter-spacing: 1px;
}
.text h2{
    font-size: 26px;
    line-height: 34px;
}
#br{
    border: 1px solid #C5DCFF;
    border-radius: 11px;
    background-color: #C5DCFF;
    padding: 4px 15px;
}
#eki{
    border: 1px solid #6BA6FF;    
    border-radius: 11px;
    background-color: #6BA6FF;
    padding: 4px 15px;
}
#ush{
    border: 1px solid #C5DCFF;
    border-radius: 11px;
    background-color: #C5DCFF;
    padding: 4px 15px;
}
.amount{
    display: inline-block;
}

.text button{
    padding: 16px 42px;
    border-radius: 23px;
    border: 1px solid #FFD83C;
    background-color: #FFD83C;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}
.ylw{
    display: inline;
    color: #FECF01;
}
.time{
    margin: 5px;
}
@media screen and (max-width:576px){
   .content{
       margin: 26px 17px;
       display: flex;
       flex-direction: column;
       border: 1px solid #828282;
   }
   .content .text{
       padding: 20px;
       line-height: 1.5;
   }
   .text h2{
       font-weight: 1000;
   }
   .text h2{
       font-size: 20px;
   }
   .text ul{
       font-size: 15px;
   }
    .amount h2{
    font-size: 30px;
   }
   .amount p{
       font-size: 20px;
   }
   .img img{
       border-radius: 15px;
   }
    .text button{
        padding: 12px 39px;
        border-radius: 23px;
        border: 1px solid #FFD83C;
        background-color: #FFD83C;
        cursor: pointer;
        font-size: 15px;
        outline: none;
    }
}
@media screen and (max-width:1200px){
    .content{
        margin: 10px 17px;
    }
    .text h2{
        font-size: 30px;
    }
    ul{
        font-size: 20px;
        line-height: 2;
    }
}
@media screen and (max-width:768px){
    .content{
        display: flex;
        flex-direction: column;
        border: 1px solid #828282;
    }
    .content .text{
        line-height: 1.5;
        margin: 5px;
    }
    .text h2{
        font-weight: 1000;
    }
    .text h2{
        font-size: 25px;
    }
    .text ul{
        font-size: 20px;
    }
    .amount h2{
     font-size: 30px;
    }
    .amount p{
        font-size: 10px;
    }
    .img img{
        border-radius: 15px;
    }
    .text button{
        padding: 12px 39px;
        border-radius: 23px;
        border: 1px solid #FFD83C;
        background-color: #FFD83C;
        cursor: pointer;
        font-size: 20px;
        outline: none;
    }
}


@media screen and (max-width:320px){
    .text h2{
        font-size: 15px;
        font-weight: 1000;
    }
    .content .text{
        margin: 5px;
        padding: 5px;
    }
    ul{
        font-weight: 10px;
    }
    #br{
        border: 1px solid #C5DCFF;
        border-radius: 8px;
        background-color: #C5DCFF;
        padding: 2px 13px;
    }
    #eki{
        border: 1px solid #6BA6FF;    
        border-radius: 8px;
        background-color: #6BA6FF;
        padding: 2px 13px;
    }
    #ush{
        border: 1px solid #C5DCFF;
        border-radius: 8px;
        background-color: #C5DCFF;
        padding: 2px 13px;
    }

}
@media screen and (min-width: 1200px){
    
}